:root {
  --primary-color: #6003c3;
  --white: #ffffff;
  --box-color-1: #fcff00;
  --box-color-2: #57ffc9;
  --box-color-3: #a5ff01;
}
/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*--========== Universal Styling =============--*/
body {
  font-family: "Bebas Neue", Impact, sans-serif;
}

h2,
h3,
h4,
h5,
h6,
p,
.box {
  color: #6003c3;
}

/*--======== Header ========--*/
header {
  background-color: #6003c3;
  padding: 10px;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
  font-size: 4rem;
  width: 90%;
}

/*--======== Body ========--*/
main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 20px auto 0;
  padding: 0 3%;
}

#message {
  font-size: 1.5rem;
  padding: 3%;
  text-align: center;
}

.boxes {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px auto;
}

.box {
  border: 15px solid #6003c3;
  border-radius: 5px;
  box-shadow: 7px 7px 15px gray;
  font-size: 4rem;
  margin: 8px auto;
  padding: 20px 50px;
}

#box-1 {
  background-color: #fcff00;
}

#box-2 {
  background-color: aquamarine;
}

#box-3 {
  background-color: #a5ff01;
}

.score {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 400px;
  width: 75%;
}
